h1{
    color:purple;
    text-decoration-color:purple;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:purple;
    text-decoration-color: purple;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color:purple;
    text-decoration-color: purple;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    color:purple;
    text-decoration-color: purple;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:darkgreen;
    text-decoration-color: darkgreen;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
body{
    background-color:blanchedalmond;
}